/*
* author: Indra Rahmat
*/

//Header
#header{
  .overlay{
    background-color: darken($main-color, 20%);
  }


  .user img{
  	width: 160px;
  	height: 160px;
  	border: 5px solid #ecf0f1;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
  }

  .navbar-header img{
    padding-right: 20px;
    padding-left: 30px;
  }
}

//end header

.bootstrap-icons{
  background-color: $main-color;
  border: 1px solid #cdbfe3;
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  display: inline-block;;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  border-radius: 15%;
}

/*
 * Navbar Custom styles
 */
.navbar{
 a{
   color: set-text-color($main-color) !important;
 }
 .fa{
   font-size: 20px
 }
}

.navbar-brand {
    font-size: 50px;
}

.navbar-container {
    padding: 10px 0 10px 0;
}

.navbar-container li a{
  font-size: 20px;
}

.navbar.navbar-fixed-top.fixed-theme {
    border-color: darken($main-color, 20%);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}


.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
    background-color: transparent;

    .fixed-theme{
      .fa{
        font-size: 18px;
      }
      li a{
        font-size: 18px;
      }
      li.active a  {
        background-color: transparent ;
      }

    }
}
//end navbar

.showcase{
  background: url(../img/showcase.jpg) no-repeat 0 -100px;
  height: 600px;
  padding: 30px 0;

  h1{
    font-size: 60px;
  }

  .container{
    background: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.section-motto{
  margin-top: 5px;
  padding: 50px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);
  .fa{
    font-size: $icon-size;
  }
}

.section-blog{
  padding-top: 10px;
  text-align: center;
  background: $main-color;
  color: black;

  .btn-primary{
    background: darken($main-color, 10%);
  }

  p{
    text-align: justify;
  }

  .card-author{
    text-align: left;
  }
}

.panel-heading h4{
  color: set-text-color($main-color);
}

.title-bar{
  background: url(../img/showcase.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $main-color;
}

.main{
  margin-top: 30px;
}

.bigheader{
  margin-top: 20px;
}

.jumbotron{
  margin-top: 20px;
  background: $jumbotron-color;
  color: $main-text-color;
}

//start carousel
#myCarousel{
  margin-top: 50px;
}
.carousel{
  margin-bottom: 0;
  a{
    color: set-text-color($main-color) !important;
  }
  .fa{
    font-size: 18px
  }
}

.carousel-inner{
  .item {
    img{
      width:100%;
      max-width: 100%;
      height:600px;
      background-position:center;
      background-size:cover;
      margin: 0 auto;
      transition: 0.3s ease-in-out left;
    }

    .container{
      .irkom-caption{
        p { font-size: 25px;}
        padding-bottom: 150px;
      }
    }
  }
}

//end carousel

.thumbnail {
    padding: 5;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.card-author{
  border-top: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

.card-author-circle{
  //make it responsive
  max-width: 100%;
  width: 10%;
  height: auto;
  display: inline-flex;

  //div height to be the same as width
  padding-top: 10%;

  //make it a circle
  border-radius: 50%;

  //centering image
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  //make the clue thing, takes smaller dimension to fill dropdown-divider-bg
  background-size: cover;

  //it is optional, for making this div centered in parent
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//panel

.panel img{
  margin-top: 5px;
}

//end panel

footer{
  margin-top: 5px;
  padding: 15px 0;
  background: darken($main-color, 10%);
  color: set-text-color($main-color);
}
